#heading{
        text-align: center;
        color: cornflowerblue;
        font-size: 5vw;
        font-family: cursive;
        background-color: dimgray;
        font-style: italic;
}
body{
    background-color: rgb(231, 114, 114);
}
#Anuraj{
    font-size: medium;
    
}